page-login {
  .app-icon {
    background-color: #ffffff;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
  }

  .content {
    text-align: center;
    ion-icon {
      font-size: 128px;
    }
    ion-label {
      color: #a1a1a1;
    }
  }

  .social-login {
    position: fixed;
    bottom: 0;
  }

}
