page-home {
  .logo-title {
    font-size: 3.6rem;
    font-weight: bolder;
    font-family: inherit;
  }

  ion-icon {
    font-size: 48px;
  }

  .button-circle {
    ion-icon {
      font-size: 36px;
    }
  }

}
