// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #3f4f5e,
  secondary:  #3EC3D6,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #444,
  favorite:   #69BB7B,
  gray:       #333,
  blue: #90a7d0,
  red: #ce5c78,
  green:      #86af49,
  yellow: #c8b374,
  purple: #66648c
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$searchbar-ios-background-color: #3f4f5e;
$searchbar-md-background-color: #3f4f5e;

$font-family-base: 'Microsoft Yahei',sans-serif !default;

h2 {
  font-size: 1.6rem !important;
  color: #333 !important;
  word-break:keep-all;/* 不换行 */
  white-space:nowrap;/* 不换行 */
  overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow:ellipsis;
}

ion-title {
  font-size: 2.0rem !important;
  font-weight: bolder;
}



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionicons";


// Fonts
// --------------------------------------------------
$font-family-base: "Microsoft Yahei", sans-serif !default;
